* {
    margin: 0;
    padding: 0;
}

.newsletter {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 50px 8px;
}

.newsletter h2 {
    font-style: normal;
    font-weight: 450;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #2b2b2b;
}

.newsletter h5 {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    justify-content: center;
    color: #2b2b2b;    
}

.formulario {
    display: flex;
    justify-content: center;
}

form input {
    width: 400px;
    border: none;
    border-radius: 10px;
    outline: none;
    background-color: #f0edec;
    border: 1px solid #fff;
    padding: 10px;
    margin-top: -15px;
}

form p {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    color: #2b2b2b;
}

form button {
    padding: 8px;
    border-radius: 20px;
    border:  2px solid #2f5435;
    background-color: #ffffff;
    cursor: pointer;
}

.formulario form button {
    margin: auto;
    display: flex; 
}