
.body {
    display: block;   
    background-image: url(../../assets/image/Group142.png); 
    background-repeat: no-repeat;
}

.image {
    /* background-image: url(../../assets/image/Group\ 142.png); */
    height: 500px;
    width: 1440px;
}

.card1 {
    background-color: brown;
    margin-left: 6vw;
    margin-right: 5vw;
    margin-top: 5vh;
    width: 1170px;
    height: 210px;
    margin-top: 9vh;
}

.card2 {
    display: flex;
    align-items: center;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    background-color: blue;
    margin-top: 9vh;
    margin-bottom: 9vh;
}

.card3 {
    margin-left: 1vw;
    margin-right: 2vw;
    gap: 1vw;
    background-color: coral;
    width: 490px;
    height: 150px;
}