.main {
    display: flex;
    justify-content: space-between;
    margin-top: 2vh;
    background: transparent;
    height: fit-content;
}

.menu {
    display: flex;
}

ul {
    display: flex;
    gap: 1vw;
}