
.body {
    display: block;   
    /* background-image: url(../../assets/image/Group142.png);  */
    background-repeat: no-repeat;
}

.image {
    background-image: url(../../assets/image/Group142.png);
    height: 500px;
    width: 1440px;
}

.card1 {
    /* background-color: brown; */
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 5vh;
    /* width: 1170px; */
    width: 97,5vw;
    height: 210px;
    /* height: 17,5vh; */
    margin-top: 9vh;
}

.card1 h1 {
    color: #2F5435;
    font-style: normal;
    font-weight: 500;
    /* font-size: 30px; */
    font-size: 1.875em;
    line-height: 36px;
    /* line-height: 2.25em; */
}

.card1 p {
    font-weight: 400;
    /* font-size: 20px; */
    font-size: 1.25em;
    line-height: 30px;
    /* line-height: 1.875em; */
}

.card2 {
    display: flex;
    align-items: center;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    /* background-color: blue; */
    margin-top: 9vh;
    margin-bottom: 9vh;
}

.card2 h2 {
    color: #924D0D;
    font-weight: 400;
    /* font-size: 24px; */
    font-size: 1.5em;
    line-height: 29px;
}

.card3 {
    margin-left: 2vw;
    margin-right: 2vw;
    gap: 1vw;
    /* background-color: coral; */
    /* width: 490px; */
    width: 40vw;
    height: 150px;
    /* height: 12.25vh; */
}

.card3 h2 {
    color: #924D0D;
}

@media only screen and (max-width: 690px) {

    .card1 {
        height: fit-content;
        margin-left: 11vw;
    }

    .card2 {
        margin-bottom: 15vh;
        margin-left: 9vw;
    }
}

@media only screen and (max-width: 450px) {

    .card1 {
        height: fit-content;
        margin-left: 11vw;
    }

    .card2 {
        margin-bottom: 15vh;
        margin-left: 2vw;
        margin-right: 2vw;
        display: block;
        width: fit-content;
        height: fit-content;
        
    }

    .card3 {
        width: fit-content;
        gap: 1vw;
        width: fit-content;
        height: fit-content;
        margin-left: 2vw;
        margin-right: 2vw;
    }
}