
.body {
    display: block;
}

.image {
    background-color: #bbf1bd;
    height: 42vh;
}

.card1 {
    background-color: brown;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 5vh;
}

.card2 {
    display: flex;
    align-items: center;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    background-color: blue;
    margin-top: 5vh;
}

.card3 {
    margin-left: 1vw;
    margin-right: 2vw;
    gap: 3vw;
    background-color: coral;
    width: 30vw;
}