* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    vertical-align: auto;
}

.footer{
    background-color: #2f5435;
    padding: 70px 0;
    color: white;
    width: 100%;
}

.copy {
    text-align: center; 
}

.social_links{
    display: flex;
    gap: 15px;
    font-size: 50px;
}

ul {
    list-style: none;
}

.info > ul{
    display: flex;
    flex-direction: column;
    gap: 5px;
}