.newsletter {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 50px 8%;
}

.newsletter form {
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    align-items: center;
}

.newsletter input {
    outline: none;
}

h3 {
    font-size:  1.8em;
    font-size: 1.2em;
}

.newsletter form input {
    width: 50%;
    border-radius: 8px;
    background-color: rgb(238, 237, 237);
    border: 1px solid #fff ;
    padding: 10px;
}

.newsletter form button {
    width: 15%;
    padding: 8px;
    border-radius: 20px;
    border:  2px solid rgb(1, 51, 1);
    background-color: #fff;
    cursor: pointer;
}